
@keyframes rotateOuter {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotateMiddle {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}

@keyframes rotateInner {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
